@import "tailwindcss";

@theme {
  --breakpoint-mdplus: 925px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background2: var(--background2);
  --color-muted-background: var(--muted-background);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-gold-600: var(--gold-600);
  --color-gold-500: var(--gold-500);
  --color-gold-400: var(--gold-400);
  --color-gold-900: var(--gold-900);

  --font-newsreader: var(--font-newsreader), serif;
  --font-urbanist: var(--font-urbanist), sans-serif;

}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

:root {
  --foreground: #ffffff;
  --background: #12110d;
  --background2: #080808;

  --muted-background: #1e1e1e;

  --gold-600: #E89B00;
  --gold-500: #ffaa00;
  --gold-400: #ffbb33;
  --gold-900: #392806;

  --primary: #ffaa00;
  --primary-foreground: #312000;
  --font-newsreader: var(--newsreader);
  --font-urbanist: var(--urbanist);
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite ease-in-out;
}

::-webkit-scrollbar{
  width: 5px;
  background: var(--foreground);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: var(--gold-500);
  border-radius: 9999px;
}